.card-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    height: 250px;
    width: 400px;
    box-sizing: border-box;
    padding: 10px;
    padding-bottom: 0px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    margin: 0px;
}
@media(max-width: 768px){
    .card-wrapper{
        width: 80vw;
    }
}

/* header */
.header{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    min-height: 30px;
    width: 100%;
    margin-bottom: 10px;
    border-image: linear-gradient(to right, rgb(244, 70, 70) 0%, rgb(149, 152, 240) 100%) 1;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
}
.header-left{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    height: 100%;
    width: 50%;
}
.header-right{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 50%;
    word-break: keep-all;
}
.header-right .span{
    font-size: 16px;
    background-image: linear-gradient(rgb(244, 23, 23), rgb(70, 75, 236));
    color: transparent;
    background-clip: text;
    margin-right: 5px;
}
.header-right .icon{
    color: #ee6730;
}

/* body */
.body{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    max-height: 240px;
    width: 100%;
    margin-bottom: 20px;
}
.body-left, .body-right{
    display: flex;
    flex-direction: column;
    height: 240px;
    box-sizing: border-box;
}
.body-left{
    width: 70%;
    margin-right: 10px;
}
.body-right{
    width: 30%;
}

.schedule-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 400px;
    box-sizing: border-box;
    padding: 5px;
    border-image: linear-gradient(rgb(244, 23, 23), rgb(70, 75, 236)) 1;
    border-width: 1px 1px 1px 1px;
    border-style: solid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
@media (max-width: 768px){
    .schedule-wrapper{
        width: 80vw;
    }
}
.games-upcoming, .games-recent{
    display: flex;
    flex-direction: column;
    max-height: 60px;
    width: 100%;
    box-sizing: border-box;
    padding: 5px;
    border-image: linear-gradient(to right, rgb(244, 70, 70) 0%, rgb(149, 152, 240) 100%) 1;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: auto;
}
.games-upcoming{
    margin-bottom: 10px;
}

.players-wrapper{
    max-height: 150px;
    width: 90%;
    padding: 5px;
    padding-bottom: 0px;
    border-image: linear-gradient(to right, rgb(244, 70, 70) 0%, rgb(149, 152, 240) 100%) 1;
    border-width: 1px;
    border-style: solid;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    overflow-y: auto;
}

/* general row and row columns, border color and margin */
.row, .row-header{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    font-size: 12px;
    margin-bottom: 5px;
    word-break: break-word;
    border-image: linear-gradient(to right, rgb(244, 70, 70) 0%, rgb(149, 152, 240) 100%) 1;
    border-width: 0px;
    border-bottom-width: 1px;
    border-style: solid;
    color: black;
}
.row-header{
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgb(244, 70, 70), rgb(149, 152, 240));
    color: white;
    border-width: 0px;
}
.row-main{
    min-width: 80%;
    border-image: linear-gradient(to right, rgb(244, 70, 70) 0%, rgb(149, 152, 240) 100%) 1;
    border-width: 0px;
    border-right-width: 1px;
    border-style: solid;
    word-break: break-word;
    height: 100%;
}
.row-secondary{
    min-width: 20%;
    display: flex;
    justify-content: flex-end;
}
.row-center{
    min-width: 60%;
}
.row-format{
    min-width: 20%;
}
.row-left, .row-right{
    display: flex;
    justify-content: center;
    min-width: 50%;
}

/* left border */
.row-center, .row-format, .row-left{
    display: flex;
    justify-content: center;
    border-image: linear-gradient(to right, rgb(244, 70, 70) 0%, rgb(149, 152, 240) 100%) 1;
    border-width: 0px;
    border-right-width: 1px;
    border-style: solid;
}

/* control text size and color */
.h1, .name{
    font-size: 20px;
    font-weight: normal;
    background-image: linear-gradient(rgb(244, 23, 23), rgb(70, 75, 236));
    color: transparent;
    background-clip: text;
}
.name:hover{
    cursor: pointer;
    color: blue;
}
.h2{
    font-size: 15px;
    font-weight: normal;
    margin: 5px 5px 5px 0px;
}
